# Entornos virtuales y caché
venv/
__pycache__/
*.pyc

# Ignorar todo el contenido de las carpetas de datos...
datos/base_relacional/*
datos/base_vectorial/*
datos/crudos/*
datos/procesados/*
sesion_playwright/*

# ...EXCEPTO los archivos .gitkeep para conservar la estructura de carpetas
!datos/base_relacional/.gitkeep
!datos/base_vectorial/.gitkeep
!datos/crudos/.gitkeep
!datos/procesados/.gitkeep
!sesion_playwright/.gitkeep

.env